main {
	flex-grow: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    @include respond-min($tablet) {
        padding-bottom: 1rem;
    }
    p {
        display: inline-block;
    	margin-bottom: 0;
        max-width: 40em;
        @include respond-min($tablet) {
            font-size: 18px;
        }
    }
}